QUIC: application_close Sent Before Handshake Confirmation

According to [RFC 9000 10.2.3. ](https://www.rfc-editor.org/rfc/rfc9000.html#section-10.2.3)[Immediate Close during the Handshake](https://www.rfc-editor.org/rfc/rfc9000.html#name-immediate-close-during-the-):
>An endpoint MUST NOT send a CONNECTION_CLOSE frame of type 0x1d (application close) unless the handshake is confirmed. If the handshake is not confirmed, it MUST send a CONNECTION_CLOSE frame of type 0x1c (transport close) and discard any reason phrase

However. the code fails to enforce RFC 9000 §10.2.3’s MUST requirement by allowing an application_close (type 0x1d) to be sent in a 1-RTT packet before handshake confirmation, without converting it to a transport_close (type 0x1c) and discarding the reason phrase.

Currently, the [code](https://github.com/microsoft/msquic/blob/2623c07df62b4bd171f469fb29c2714b6735b676/src/core/send.c#L550) converts an application_close (0x1d) to a transport_close (0x1c) only when the encryption level is not 1-RTT:

```c
if (IsApplicationClose && !Is1RttEncryptionLevel) {
    CloseErrorCode = QUIC_ERROR_APPLICATION_ERROR;
    CloseReasonPhrase = NULL;
    IsApplicationClose = FALSE;
}
```
However, this logic does not check whether the handshake is confirmed, meaning an application_close may be sent in a 1-RTT packet before Connection->State.HandshakeConfirmed is true, which violates the spec.

Need more investigation to understand if it is a problem. There might be an issue, but need confirmation.

@t-minzheng Have you been able to confirm this is a problem on a real scenario?