active_connection_id_limit Not Enforced in Release Builds

## Description

The encoder currently enforces active_connection_id_limit >= 2 only in debug builds, using CXPLAT_DBG_ASSERT. This violates RFC 9000 [§18.2. ](https://www.rfc-editor.org/rfc/rfc9000.html#section-18.2)[Transport Parameter Definitions](https://www.rfc-editor.org/rfc/rfc9000.html#name-transport-parameter-definit):

> The value of active_connection_id_limit MUST be at least 2.


In [crypto_tls.c](https://github.com/microsoft/msquic/blob/2623c07df62b4bd171f469fb29c2714b6735b676/src/core/crypto_tls.c#L1105):

```c
if (TransportParams->Flags & QUIC_TP_FLAG_ACTIVE_CONNECTION_ID_LIMIT) {
    CXPLAT_DBG_ASSERT(TransportParams->ActiveConnectionIdLimit >= QUIC_TP_ACTIVE_CONNECTION_ID_LIMIT_MIN);
    ...
}
```
`CXPLAT_DBG_ASSERT` is stripped from release builds.

`ActiveConnectionIdLimit` is validated when parsed from the peer transport parameters and set to a constant value for the local transport parameters.

It is trusted at this point - the assert is only a reminder.