STOP_SENDING Error Code Not Propagated to RESET_STREAM

According to RFC 9000 [Section 3.5:](https://datatracker.ietf.org/doc/html/rfc9000#name-solicited-state-transitions)
> An endpoint SHOULD copy the error code from the STOP_SENDING frame to the RESET_STREAM frame it sends, but it can use any application error code.

The function `QuicStreamProcessStopSendingFrame` in stream_recv.c is called when a `STOP_SENDING` frame is received. It then calls `QuicStreamSendShutdown` to abort the send direction of the stream.

````c
// ...existing code...
void
QuicStreamProcessStopSendingFrame(
    _In_ QUIC_STREAM* Stream,
    _In_ QUIC_VAR_INT ErrorCode
    )
{
// ...existing code...
        //
        // The peer has requested that we stop sending. Close abortively.
        //
        QuicStreamSendShutdown(
            Stream, FALSE, FALSE, FALSE, QUIC_ERROR_NO_ERROR);
    }
}
````

However, it passes `QUIC_ERROR_NO_ERROR` as the error code instead of the `ErrorCode` received from the `STOP_SENDING` frame. This results in the subsequent `RESET_STREAM` frame being sent with `QUIC_ERROR_NO_ERROR` instead of the application-provided error code.

To fix this, you should pass the `ErrorCode` from the `STOP_SENDING` frame to `QuicStreamSendShutdown`.

Here is the suggested change:
````c
// ...existing code...
        //
        // The peer has requested that we stop sending. Close abortively.
        //
        QuicStreamSendShutdown(
            Stream, FALSE, FALSE, FALSE, ErrorCode);
    }
}
// ...existing code...
