Silent Aborts Used Instead of CONNECTION_CLOSE for Protocol Errors in Established Connections

**Description**
According to [RFC 9000 §11.1](https://www.rfc-editor.org/rfc/rfc9000.html#name-connection-errors):
>Errors that result in the connection being unusable, such as an obvious violation of protocol semantics or corruption of state that affects an entire connection, MUST be signaled using a CONNECTION_CLOSE frame

However, MsQuic currently uses `QuicConnSilentlyAbort` and `QuicConnCloseLocally(..., QUIC_CLOSE_INTERNAL_SILENT, ...)` in several places to terminate an established QUIC connection due to protocol violations. These actions do not send a `CONNECTION_CLOSE` frame, for example:
1. **Exceeding Retired CID Limit**

https://github.com/microsoft/msquic/blob/fbcbaa2070c6f5ea83c9939c94b6570bdbacb798/src/core/connection.c#L1030-L1037
2. **Exceeding Active CID Limit (Conditionally Silent)**
This seems to be intentional, because they use if else to differentiate the behaviors:
https://github.com/microsoft/msquic/blob/31d2b731bd50f790d657b2661cc8609d84ed107d/src/core/connection.c#L5000-L5010

3. ... other places using `QuicConnSilentlyAbort(..)`

